.light-theme{
    /* 毛玻璃背景色 */
    --ground-glass-background-color:#dfdede4d;
    --ground-glass-background-hover-color:#dfdede66;
    --ground-glass-icon-color:#dcdfda;
    --date-text-color:#ffffffb3;
    --ground-glass-boardr-color:#ffffff1a;
    --background-color-dialog-large-box:#f5f5f5;
    --background-color-dialog-area-box:#ffffff;
    --background-color-dialog-area-box-under-line:#cccc;
    --dialog-text-color:#000;
    --switch-background-color:#dbdbdb;
}

.dark-theme{
    --ground-glass-background-color:#00000030;
    --ground-glass-background-hover-color:#00000033;
    --ground-glass-icon-color:#babfb8;
    --date-text-color:#000000b3;
    --ground-glass-boardr-color:#00000020;
    --background-color-dialog-large-box:#18181c;
    --background-color-dialog-area-box:#2c2c31;
    --background-color-dialog-area-box-under-line:#ccc4;
    --dialog-text-color:#e8e8e9;
    --switch-background-color:#56565a;
}